


<div style=" text-align:center; height:30px; vertical-align:bottom font-size:50px">
<h1>DUZHENGZHI</h1>
br
<p>人间有味是清欢<p>
</div>

br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br



<div style=" text-align:center; height:30px; vertical-align:bottom">
<a href="http://www.weibo.com/duzhengzhi" title="Contact me"> 微博    </a> &nbsp
<a href="http://www.jianshu.com/u/6c5f0e206518" title="Contact me"> 简书    </a> &nbsp
<a href="https://github.com/DUZHENGZHI" title="@杜铮志 的 Github" target="_blank"> Github </a>&nbsp
<a href="mailto:duzhengzhi@foxmail.com" title="Contact me"> Email  </a> &nbsp
</div>
